---

import formation from "../../util/formation.json";
import TimelineItem from "../utils/TimelineItem.astro";

---

<section id="formation-section" class="pt-[7rem]">
  <h2 class="text-4xl text-white font-bold">My Formation</h2>
  <ul class="timeline timeline-snap-icon max-md:timeline-compact timeline-vertical pt-8 text-slate-300">
    {formation.map((item, index, arr) => (
      <TimelineItem
        year={item.year}
        title={item.title}
        description={item.description}
        isFirst={index === 0}
        isLast={index === arr.length - 1}
        toStart={index % 2 === 0}
      />
    ))}
  </ul>
</section>