---
import TerminalHeaderIcon from "../../icons/TerminalHeaderIcon.astro"
---

<header class=" text-white z-50 h-[6rem] flex items-center justify-between sm:px-[6rem] px-[2rem]"  >
  <TerminalHeaderIcon />
  <div class="hamburguer-btn opacity-100 lg:opacity-0" id="menubtn">
    <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M20 12H10m10-7H4m16 14H4" color="currentColor"/></svg>
  </div>
  <nav class="flex w-full justify-end"> 
    <ul class="hamburguer-board" >
      <li class="itemNavbar"><a href="/#presentation-section">Presentation</a></li>
      <li class="itemNavbar"><a href="/#proyects-section">My work</a></li>
      <li class="itemNavbar"><a href="/#formation-section">Formation</a></li>
      <li class="itemNavbar"><a href="/#habilities-section">Habilitites</a></li>
      <li
        class="itemNavbar px-6 py-3 rounded-full bg-white text-black contact-button-shadow font-semibold"
      >
        <a href="/#habilities-section">Contact me</a>
      </li>
      <li class="itemNavbar"><button class="lg:absolute lg:opacity-0 relative opacity-100 underline" id="close-menu-btn">Close menu</button></li>
    </ul>
  </nav>
</header>
<script is:inline>
  document.addEventListener('astro:page-load', () => {

    const headerEl = document.querySelector("header");

    window.addEventListener("scroll", () => {
        if (window.scrollY > 100) {
        return headerEl?.classList.add("stickyPosition");
      }
      if (window.scrollY === 0) {
        return headerEl?.classList.remove("stickyPosition");
      }
    });

    const menuButton = document.querySelector('#menubtn')
    const optionsBoard = document.querySelector('nav');
    menuButton.addEventListener('click', () => {
        optionsBoard?.classList.add('isEnter');
        
    });
    const closeMenuButton = document.querySelector("#close-menu-btn")
    closeMenuButton.addEventListener('click', () => {
      optionsBoard?.classList.remove('isEnter');
    })
  })
</script>
<style>
  ul.hamburguer-board{
    position: relative;
    display: flex;
    align-items: center;
    gap: 2.5rem;
  }

  @media (width < 1024px){
    nav{
      position: fixed;
      right: -100%;
      top: 0;
      bottom: 0;
      width: 80%;
      max-width: 35rem;
      height: 100vh;
      justify-content: center;
      align-items: center;
      background-color: rgba(29, 29, 29);
      transition: all .2s ease-in-out;
      z-index: 500;
    }

    nav.isEnter{
      right: 0;
      -webkit-box-shadow: -200px 0px 5px 300px rgba(0,0,0,0.39);
      -moz-box-shadow: -200px 0px 5px 300px rgba(0,0,0,0.39);
      box-shadow: -200px 0px 5px 300px rgba(0,0,0,0.39);
    }

    nav ul{
      flex-direction: column;
    }
  }

  div.hamburguer-btn{
    width: min-content;
    height: min-content;
    border: transparent;
  }

  header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 0.2s ease-in;
  }
  header.stickyPosition {
    position: fixed;
    background-color: rgba(29, 29, 29, 0.484);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(30px);
    transition: 0.1s;
    animation: animateBlur 0.2s linear;
  }
  @keyframes animateBlur {
    0% {
      transform: translateY(-100px);
    }
    100% {
      transform: translateY(0);
    }
  }

</style>
