---
import projects from "../../util/projects.json";
---

<div class="stats shadow h-[15rem] w-[100%] sm:flex hidden justify-around ">
  <div class="stat">
    <div class="stat-figure text-primary">
      
    </div>
    <div class="stat-title text-2xl">Experience</div>
    <div class="stat-value text-6xl text-primary">+3</div>
    <div class="stat-desc text-lg ">Years developing web apps</div>
  </div>

  <div class="stat">
    <div class="stat-title text-2xl">Total apps</div>
    <div class="stat-value text-6xl text-[#e81cff]">{projects.length}</div>
    <div class="stat-desc text-lg ">Products finished</div>
  </div>

  <div class="stat">
    <div class="stat-title text-2xl">Credentials</div>
    <div class="stat-value text-6xl">3/4</div>
    <div class="stat-desc text-lg  text-[#e81cff]">My university diplome soon!</div>
  </div>
</div>


