---

const { pathname } = Astro.url


let reference = pathname;

if(reference.length > 16){
    reference = reference.slice(0, 16) + "..."
}
---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Page Not Found</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #121212;
        }
        .container {
            text-align: center;
            padding: 2rem;
            background-color: rgb(7, 7, 7);
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
        h1 {
            font-size: 4rem;
            margin-bottom: 0.5rem;
            color: #acacac;
        }
        p {
            font-size: 1.2rem;
            color: #8f8f8f;
        }
        a {
            color: #0077cc;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>404</h1>
        <p>Oops! The page {reference} doesn't exist.</p>
        <p>Let's get you back <a href="/">home</a>.</p>
    </div>
</body>
</html>


