---
import Layout from "../layouts/Layout.astro";
import Header from "../components/sections/Header.astro";
import Formation from "../components/sections/Formation.astro";
import Tech from "../components/sections/Tech.astro"
import Footer from "../components/sections/Footer.astro";
import Work from "../components/sections/Work.astro";
---

<Layout title="LF | Portfolio">
  <main class="sm:px-24 px-[2rem] pb-[20rem] relative sm:pt-5 pt-[1rem] h-max " id="presentation-section">
    <Header />
    <section class="w-full flex pt-[8rem] pb-[4rem] justify-center lg:justify-start">
      <section class="lg:w-[50%] w-full sm:w-full flex flex-col gap-7" >
        <h1 class="text-white font-bold md:text-7xl sm:text-5xl text-[3rem] sm:text-left text-center glow-text">
          Lautaro Leonel Fernández
        </h1>
        <h2 class="text-white md:text-4xl sm:text-3xl text-[1.5rem] sm:text-left text-center">Full Stack Developer</h2>
        <p class="text-gray-200 sm:text-left text-center">
          I am a young Argentine who, in recent years, has sought to stand out
          in the web sector with my technical skills, experience in real and
          academic projects, and university education to secure a place in the
          industry. Always ready to learn and work with the team.
        </p>
        <section class="flex gap-8 z-10">
          <button id="see-in-gh-btn">
            <a href="https://github.com/Lautaro24Fer/Portfolio3" target="_blank">
              See portfolio in GitHub
            </a>
          </button>
        </section>
      </section>
    </section>
    <Tech />
    <Work />
    <Formation />
    <Footer />
  </main>
</Layout>
<style>
  .glow-text {
      background: linear-gradient(190deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.5) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      position: relative;
    }

    .glow-text::before {
      content: '';
      position: absolute;
      top: -10px;
      left: -10px;
      right: -10px;
      bottom: -10px;
      background: rgba(255, 255, 255, 0.1);
      filter: blur(10px);
      z-index: -1;
    }

</style>
<style is:global>
  .background-blur {
    border-radius: 15px;
    backdrop-filter: blur(100px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .contact-button-shadow {
    -webkit-box-shadow: 0px 0px 28px -13px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 28px -13px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 28px -13px rgba(255, 255, 255, 0.75);
  }
  .dowloadresume-button-gradient {
    background: linear-gradient(
      75deg,
      rgba(189, 115, 37, 1) 0%,
      rgba(127, 169, 20, 1) 51%,
      rgba(20, 169, 150, 1) 94%
    );
  }
  nav ul li {
    cursor: pointer;
  }
  /* From Uiverse.io by portseif */ 
button#see-in-gh-btn {
  align-items: center;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  text-decoration: none;
  text-transform: uppercase;
  outline: 0;
  border: 0;
  padding: 1rem 1rem 1rem 0;
}

button#see-in-gh-btn:before {
  background-color: #fff;
  content: "";
  display: inline-block;
  height: 1px;
  margin-right: 10px;
  transition: all .42s cubic-bezier(.25,.8,.25,1);
  width: 0;
}

button#see-in-gh-btn:hover:before {
  background-color: #fff;
  width: 3rem;
}
</style>
