---
import Layout from "../layouts/Layout.astro";
import Timeline from "../components/Timeline.jsx";
---

<Layout title="Projects">
  <div class="feed">
    <Timeline />
  </div>
</Layout>

<style>
  div.feed {
    display: flex;
    justify-content: center;
    height: max-content;
    width: 100%;
  }
</style>
