---

---

<section class="tabs">
  <ul class="container">
    <li class="tab-element"><a href="/">Home</a></li>
    <li class="tab-element"><a href="/experience">Experience</a></li>
    <li class="tab-element"><a href="/projects">Projects</a></li>
  </ul>
</section>

<style>
  section.tabs,
  section.tabs ul {
    display: flex;
    justify-content: center;
  }

  section.tabs ul {
    gap: 1.5rem;
  }

  section.tabs ul li {
    list-style: none;
  }

  section.tabs ul li a {
    text-decoration: none;
    font-weight: bolder;
    color: var(--color3);
  }
</style>
